# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Django
db.sqlite3
*.sqlite3

# User uploads
media/
core/media/

# Static build output
staticfiles/
core/staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log