services:
  - type: web
    name: gumshuda-backend
    runtime: python
    buildCommand: |
      apt-get update && apt-get install -y cmake libboost-all-dev libopenblas-dev
      pip install -r requirements.txt
    startCommand: uvicorn core.manage:app --host 0.0.0.0 --port 10000
    envVars:
      - key: PORT
        value: 10000
